<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The base page</title>
    {% load static %}
    <link rel="stylesheet"href="{% static "vendor/editor.md/css/editormd.min.css" %}" />
    <link rel="stylesheet"href="{% static "vendor/editor.md/lib/codemirror/codemirror.min.css" %}" />
    <script src="{% static "vendor/jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "vendor/editor.md/editormd.js" %}"></script>
</head>

<body>
    {% if True %}
        <h3>testss</h3>
    {% endif %}
    <div id="editormd">
        <textarea style="display:none;">### Hello Editor.md !</textarea>
    </div>
    {% block MainBody %}
        <p>tttsss</p>
    {% endblock %}
</body>

<script type="text/javascript">
  $(function() {
        var editor = editormd("editormd", {
            path : "../lib/" // Autoload modules mode, codemirror, marked... dependents libs path
        });

        /*
        // or
        var editor = editormd({
            id   : "editormd",
            path : "../lib/"
        });
        */
    });
</script>
</html>