.blog-edit-container {
    margin-top: -60px;
    padding-top: 60px;
    overflow: hidden;
    height: -webkit-calc(100% - 60px);
    height: -moz-calc(100% - 60px);
    height: calc(100% - 60px);
    color: #b3b3b3;
    display: flex;
}

html, body {
    background-color: #3d3d3d;
    height: 100%;
}

.blog-edit-left-panel {
    height:100%;
    width: 18%;
    background-color: #2e2e2e;
    z-index: 0;
}

.blog-edit-middle-panel {
    height:100%;
    width: 25%;
    background-color: #3d3d3d;
    z-index: 0;
    border-right: 1px solid #2e2e2e;
    overflow: scroll;
}

.blog-edit-right-panel {
    height:100%;
    width: 57%;
    background-color: #2e2e2e;
    z-index: 0;
    overflow: scroll;
    color: #b3b3b3;
}


.blog-edit-right-panel input{
    border: none;
    outline:none;
    background-color: #3d3d3d;
    height: 30px;
    font-size: 30px;
    color: #b3b3b3;
    margin-bottom: 1px;

    padding: 10px;
    width: -webkit-calc(100% - 20px);
    width: -moz-calc(100% - 20px);
    width: calc(100% - 20px);
}

.blog-edit-right-panel button {
    border: #b3b3b3 1px solid;
    border-radius: 3px;
    height: 40px;
    margin: 5px 10px 5px 0;
    outline: none;
    background-color: #2e2e2e;
    color: #b3b3b3;
    padding: 0 20px;
}

.blog-edit-right-panel button:hover {
    background-color: #4a4a4a;
}

.blog-edit-right-panel button:active {
    background-color: #6e6e6e;
}

.blog-edit-right-panel .button-active {
    background-color: #6e6e6e;
}

.blog-edit-right-panel .button-default {
    background-color: #2e2e2e;
}

.editormd {
    margin: 0;
    height:  -webkit-calc(100% - 155px) !important;
    height: -moz-calc(100% - 155px) !important;
    height: calc(100% - 155px) !important;
}

.blog-edit-right-panel .editormd-fullscreen {
    height: 100% !important;
}

.new-blog {
    margin: 20px 0 20px 20px;
}

.new-blog:hover {
    color: white;
    cursor: pointer;
}

.blog-edit-middle-panel > ul {
    padding: 0;
    cursor: pointer;
}

.blog-edit-middle-panel > ul > li{
    height: 60px;
    padding: 15px 10px 15px 60px;
    box-shadow: 0 0 0 1px #2e2e2e;
}

.blog-edit-middle-panel > ul > li:hover {
    background-color: #2e2e2e;
}

.blog-edit-middle-panel > ul > li.selected{
    border-left: #ec7259 5px solid;
    background-color: #2e2e2e;
}

.blog-edit-middle-panel span {
    margin-right: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.blog-edit-middle-panel .edit-btn {
    float: right;
}

.index-btn {
    margin-top: 30px;
    text-align: center;
}

.index-btn a {
    color: #ec7259;
    display: inline-block;
    border: 1px #ec7259 solid;
    height: 50px;
    width: 180px;
    line-height: 50px;
    border-radius: 50px;
}

.new-folder-btn {
    padding-left: 20px;
    margin: 15px 0 10px 0;
}

.new-folder-btn:hover {
    color: white;
    cursor: pointer;
}

ul {
    padding: 0;
}

.blog-edit-left-panel > ul > li {
    padding-left: 20px;
    line-height: 40px;
}

.blog-edit-left-panel > ul > li:hover {
    cursor: pointer;
    background-color: #262626;
}

.blog-edit-left-panel > ul > li.selected {
    border-left: #ec7259 3px solid;
    background-color: #262626;
}

i {
    padding-right: 5px;
}

.edit-btn {
    line-height: 60px;
    position: relative;
    width: 30px;
}

.editormd-preview-close-btn {
    display: none;
}

.dropdown-menu ul li{
    box-shadow: none;
    height:40px;
    line-height: 40px;
     box-shadow: 0 0 0 0.5px #2e2e2e;
    padding: 0 10px;
}

.dropdown-menu {
    width: 100px;
    right: 5px;
    position: absolute;
    background-color: #4a4a4a;
}

.trangle {
    position: absolute;
    width: 0px;
    height: 0px;
    top: -20px;
    right: 10px;
    border: solid black 10px;
    border-color: rgba(0,0,0,0) rgba(0,0,0,0) #4a4a4a rgba(0,0,0,0);
}