{% extends "../base.html" %}

{% block MainBody %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/edit.css" %}">
    <div class="blog-edit-container">
        <div class="blog-edit-left-panel">
            <div class="index-btn">
                <a href="">回到首页</a>
            </div>
            <div class="new-folder-btn">
                    新建文集
            </div>
            <ul>
                <li class="selected">fsadf</li>
                <li>fsadf</li>
            </ul>
        </div>
        <div class="blog-edit-middle-panel">
            <div class="new-blog"><i class="fas fa-plus-circle"></i><span>新建文章</span></div>
            <ul>
                <li class="selected">
                    <span class="">第一篇文章</span>
                    <div class="edit-btn">
                        <i class="fas fa-cog"></i>
                        <div class="dropdown-menu" style="display: none;">
                            <ul>
                                <li>
                                    123
                                </li>
                                <li>
                                    21
                                </li>
                            </ul>
                            <div class="trangle">
                            </div>
                        </div>
                    </div>
                </li>
                <li class="">
                    <span >无标题文章</span>
                </li>
            </ul>
            <div class="new-blog"><i class="fas fa-plus"></i><span>在下方新建文章</span></div>
        </div>
        <div class="blog-edit-right-panel">
            <input id="title-input" type="text" placeholder="文章标题">
            <input id="title-input" type="text" style="font-size: 15px; margin-bottom:0;" placeholder="文章简介" >
            <div class="btn-panel">
                <div id="preview-btn" class="editor-btn"><i class="fas fa-eye"></i></div>
                <div id="toolbar-btn" class="editor-btn selected"><i class="fas fa-wrench"></i></div>
                <div id="fullscreen-btn" class="editor-btn"><i class="fa fa-arrows-alt"></i></div>
                <div id="post-btn" class="editor-btn" style="float:right"><i class="fa fa-mail-forward"></i><span style="padding-left: 5px;">发布文章</span></div>
{#                <button id="preview-btn" class="button-default">实时预览</button>#}
{#                <button id="toolbar-btn" class="button-active">工具栏</button>#}
{#                <button id="fullscreen-btn" class="button-default">全屏模式</button>#}
            </div>
             <div id="editormd">
                <textarea style="display:none;">### Hello Editor.md !</textarea>
            </div>
        </div>
    </div>

    <script type="text/javascript">
    var editor;
        $(function() {
            editor = editormd("editormd", {
                path : "/static/vendor/editor.md/lib/",
                height : $('body').height() - 215 + 'px',
                syncScrolling : "single",
                width: '100%',
                theme: 'dark',
                editorTheme : "pastel-on-dark",
                watch: false
            });

            $('#preview-btn').click(function() {
                var btn = $('#preview-btn');
                if(btn.hasClass("selected")) {
                    btn.removeClass("selected");
                    editor.unwatch();
                } else {
                    btn.addClass("selected");
                    editor.watch();
                }
            });

            $('#toolbar-btn').click(function() {
                var btn = $('#toolbar-btn');
                if(btn.hasClass("selected")) {
                    btn.removeClass("selected");
                    editor.hideToolbar();
                } else {
                    btn.addClass("selected");
                    editor.showToolbar();
                }
            });

            $('#fullscreen-btn').click(function() {
                editor.fullscreen();
            })

            $('.blog-edit-middle-panel ul').click(function(e) {
                if(!$(e.target).is($('.blog-edit-middle-panel > ul > li'))) {
                    return;
                }
                $('.blog-edit-middle-panel ul li').removeClass('selected');
                $(e.target).addClass('selected');
                $(e.target).append($('.blog-edit-middle-panel .edit-btn'))
            })

            $('.blog-edit-left-panel ul').click(function(e) {
                 if(!$(e.target).is($('.blog-edit-left-panel > ul > li'))) {
                    return;
                }
                $('.blog-edit-left-panel ul li').removeClass('selected');
                $(e.target).addClass('selected');
            })

            $('.edit-btn').click(function(e) {
                if($('.dropdown-menu').css('display') == 'none')
                    $('.dropdown-menu').css('display', 'block');
                else if($(e.target).is($('.edit-btn > i')) && $('.dropdown-menu').css('display') == 'block')
                    $('.dropdown-menu').css('display', 'none');
                e.stopPropagation();
            });



            $(document).click(function() {
                $('.dropdown-menu').css('display', 'none');
            })

            $('#post-btn').click(
                function() {
                    $.ajax({
                        type: 'POST',
                        url: "/save",
                        async: false,
                        data: {data : 'test'},
                        complete: function() {
                            return;
                        }
                    })
                }
            )
        });
    </script>
{% endblock %}