{% extends "../base.html" %}

{% block MainBody %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/edit.css" %}">
    <div class="blog-edit-container">
        <div class="blog-edit-left-panel"></div>
        <div class="blog-edit-middle-panel"></div>
        <div class="blog-edit-right-panel">
            <input id="title-input" type="text">
             <div id="editormd">
                <textarea style="display:none;">### Hello Editor.md !</textarea>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function() {
            var rect = $('.blog-edit-right-panel')[0].getBoundingClientRect()
            console.log(" " + $('.blog-edit-right-panel').width());
            var editor = editormd("editormd", {
                path : "/static/vendor/editor.md/lib/",
                height : $("body").height() + 'px',
                syncScrolling : "single",
                width: '100%',
                theme: 'dark',
                editorTheme : "pastel-on-dark",
            });
        });
    </script>
{% endblock %}