{% extends "../base.html" %}

{% block MainBody %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/edit.css" %}">
    <div class="blog-edit-container">
        <div class="blog-edit-left-panel">
            <div class="index-btn">
                <a href="">回到首页</a>
            </div>
            <div class="new-folder-btn">
                    新建文集
            </div>
            <ul>
                <li class="selected">fsadf</li>
                <li>fsadf</li>
            </ul>
        </div>
        <div class="blog-edit-middle-panel">
            <div class="new-blog"><i class="fas fa-plus-circle"></i><span>新建文章</span></div>
            <ul>
                <li class="selected">
                    <span class="">第一篇文章</span>
                    <div class="edit-btn">
                        <i class="fas fa-cog"></i>
                        <div class="dropdown-menu" style="display: none;">
                            <ul>
                                <li>
                                    123
                                </li>
                                <li>
                                    21
                                </li>
                            </ul>
                            <div class="trangle">
                            </div>
                        </div>
                    </div>
                </li>
                <li class="">
                    <span >无标题文章</span>
                </li>
            </ul>
            <div class="new-blog">在下方新建文章</div>
        </div>
        <div class="blog-edit-right-panel">
            <input id="title-input" type="text" placeholder="文章标题">
            <input id="title-input" type="text" style="font-size: 15px;" placeholder="文章简介">
            <div>
                <button id="preview-btn" class="button-default">实时预览</button>
                <button id="toolbar-btn" class="button-active">工具栏</button>
                <button id="fullscreen-btn" class="button-default">全屏模式</button>
            </div>
             <div id="editormd">
                <textarea style="display:none;">### Hello Editor.md !</textarea>
            </div>
        </div>
    </div>

    <script type="text/javascript">
    var editor;
        $(function() {
            editor = editormd("editormd", {
                path : "/static/vendor/editor.md/lib/",
                height : $('body').height() - 215 + 'px',
                syncScrolling : "single",
                width: '100%',
                theme: 'dark',
                editorTheme : "pastel-on-dark",
                watch: false
            });

            $('#preview-btn').click(function() {
                var btn = $('#preview-btn');
                if(btn.hasClass("button-default")) {
                    btn.removeClass("button-default");
                    btn.addClass("button-active");
                    editor.watch();
                } else {
                    btn.remove("button-active");
                    btn.addClass("button-default");
                    editor.unwatch();
                }
            });

            $('#toolbar-btn').click(function() {
                var btn = $('#toolbar-btn');
                if(btn.hasClass("button-default")) {
                    btn.removeClass("button-default");
                    btn.addClass("button-active");
                    editor.showToolbar();
                } else {
                    btn.remove("button-active");
                    btn.addClass("button-default");
                    editor.hideToolbar();
                }
            });

            $('#fullscreen-btn').click(function() {
                editor.fullscreen();
            })

            $('.blog-edit-middle-panel ul').click(function(e) {
                if(!$(e.target).is($('li'))) {
                    return;
                }
                $('.blog-edit-middle-panel ul li').removeClass('selected');
                $(e.target).addClass('selected');
                $(e.target).append($('.blog-edit-middle-panel .edit-btn'))
            })

            $('.blog-edit-left-panel ul').click(function(e) {
                 if(!$(e.target).is($('li'))) {
                    return;
                }
                $('.blog-edit-left-panel ul li').removeClass('selected');
                $(e.target).addClass('selected');
            })

            $('.edit-btn').click(function(e) {
                console.log($('.dropdown-menu').css('display'))
                if($('.dropdown-menu').css('display') == 'none')
                    $('.dropdown-menu').css('display', 'block');
                else
                    $('.dropdown-menu').css('display', 'none');
                e.stopPropagation();
            });
        });
    </script>
{% endblock %}